/* section video journey */
.video-jorney-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.video-journey-title, .video-journey-p {
    flex: 1 0 50%;
}

.video-jorney-content p {
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.movies-gallery-wrapper{
    display: flex;
    flex-direction: column;
}

.mini-movies-gallery-container {
    overflow: hidden;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
}

.main-movie-slide-row {
    display: flex;
    overflow: hidden; 
    position: relative;
}

.main-slide {
    width: 100%;
    height: 735px;
}

.main-slide.hidden {
    display: none;
}

.mini-movies-slide-row {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.youtube-video {
    width: 452px;
    height: 254px;
}
/* paginator */
.movies-paginator {
    display: flex;
    width: 200px;
    height: 12px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 40px;
}
/* paginator bullets */
.movie-bullets .swiper-pagination-bullet {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: #999999;
    opacity: 1;
}

.movie-bullets .swiper-pagination-bullet-active {
    background: #333333;
}

.movie-bullets {
    display: flex;
    justify-content: space-evenly;
}

.swiper-pagination-bullet:hover {
    background: #710707;
}

.prev-movie-arrow, .next-movie-arrow{
    cursor: pointer;
    background: url(./assets/png/Vector\ \(Stroke\).png);
    width: 12px;
    height: 12px;
}

.next-movie-arrow {
    transform: rotate(-180deg);
}

.prev-movie-arrow:hover{
    transform: rotate(-180deg);
    background: url(./assets/png/VectorRED\(Stroke\).png);
}

.next-movie-arrow:hover{
    transform: rotate(-360deg);
    background: url(./assets/png/VectorRED\(Stroke\).png);
}

/* poster for main slider */
.player {
    background-image: url(./assets/img/poster0.jpg);
}

.player1 {
    background-image: url(./assets/img/poster1.jpg);
}

.player2 {
    background-image: url(./assets/img/poster2.jpg);
}

.player3 {
    background-image: url(./assets/img/poster3.jpg);
}

.player4 {
    background-image: url(./assets/img/poster4.jpg);
}
/* button main slider */
.to-play {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
}

.to-play img:hover {
    opacity: 0.7;
}

.to-play img {
    transition: 0.3s;
}

.remove-poster {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
/* adaptive */
@media (max-width: 1024px) {
    .main-slide {
        height: 504px;
    }

    .video-jorney-content {
        padding-bottom: 40px;
    }

    .to-play img {
        width: 152px;
        height: 152px;
    }

    .video-journey-p {
        display: none;
    }

    .youtube-video {
        width: 300px;
        height: 170px;
    }
}

@media (max-width: 768px) {
    .main-slide {
        height: 382px;
    }

    .mini-movies-gallery-container {
        padding: 20px 0;
    }

    .video-jorney-content, .movies-gallery-wrapper {
        padding-bottom: 20px;
    }

    .to-play img {
        width: 80px;
        height: 80px;
    }

    .youtube-video {
        width: 354px;
        height: 199px;
    }

    .movie-bullets .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 420px) {
    .main-slide {
        height: 222px;
    }

    .movies-gallery-wrapper {
        padding-bottom: 0;
    }

    .mini-movies-gallery-container {
        padding: 40px 0;
    }

    .to-play img {
        width: 50px;
        height: 50px;
    }

    .youtube-video {
        width: 180px;
        height: 101px;
    }

    .movie-bullets .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .prev-movie-arrow, .next-movie-arrow {
        background-size: contain;
        width: 7px;
        height: 8px;
    }
}

