.slider {
  position: relative;
}

.slide, .slider-image {
  display: none; 
}

.slide.active {
  display: block;
  background-repeat: no-repeat;
  background-position: calc(100% - 0%) calc(100% - 95%);
  min-height: 810px;
}

.slider-title {
  text-align: left;
  padding-top: 150px;
}

.slider-title p {
  cursor: default;
  padding-top: 25px;
  padding-bottom: 75px;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.slider-title h1 {
  font-family: Forum;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.discover-louvre {
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
}

.welcome h1:hover {
  color: #9D8665;
  cursor: default;
}

.discover-louvre:hover {
  background: #9D8665;
}

.discover-louvre a {
  width: 360px;
  height: 75px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  justify-content: center;
}

.first-slide {
  background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0.5) 50.19%, rgba(0, 0, 0, 0) 60.73%), url(./assets/img/monaliza.jpg);
}

.second-slide {
  background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0.5) 50.19%, rgba(0, 0, 0, 0) 60.73%), url(./assets/img/welcome2.jpg);
}

.third-slide {
  background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0.5) 50.19%, rgba(0, 0, 0, 0) 60.73%), url(./assets/img/welcome3.jpg);
}

.fourth-slide {
  background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0.5) 50.19%, rgba(0, 0, 0, 0) 60.73%), url(./assets/img/welcome4.jpg);
}

.fifth-slide {
  background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0.5) 50.19%, rgba(0, 0, 0, 0) 60.73%), url(./assets/img/welcome5.jpg);
}

.paginator {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  width: 700px;
  height: 120px;
  background: #030303;
  margin: 0 auto;
}

.fraction {
  display: flex;
  column-gap: 10px;
} 

.current-fraction, .from-fraction, .final-fraction {
  align-self: center;
}

.current-fraction span, .final-fraction span{
  font-weight: 300;
  font-size: 22px;
  line-height: 44px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
} 

.from-fraction span {
  width: 6px;
  height: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 44px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bullets {
  display: flex;
  column-gap: 25px;
}

.bullet {
  align-self: center;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  cursor: pointer;
} 

.bullet.active {
  background: #D2B183;
}

.bullet:hover {
  background: #9D8665;
}

.arrows {
  display: flex;
  column-gap: 20px;
}

.prev-arrow, .next-arrow {
  align-self: center;
  cursor: pointer;
}

.prev-arrow {
  background: url(./assets/png/prev-but.png);
  width: 30px;
  height: 8px;
}

.next-arrow {
  background: url(./assets/png/prev-but.png);
  width: 30px;
  height: 8px;
  transform: rotate(-180deg);
}

.next-arrow:hover { 
  background: #D2B183; 
  background: url(./assets/png/btn-hov.png);
  transform: rotate(-180deg);
} 
 
.prev-arrow:hover {
  background: url(./assets/png/btn-hov.png);
} 

/* move menu */
.move {
  position: relative;
  flex-direction: column;
  left: -420px;
  top: 135px;
  z-index: 9999;
  animation: 0.7s show ease-out;
}

.vector {
  display: grid;
  position: relative;
  left: -405px;
  top: 143px;
  z-index: 9999;
  animation: 0.7s show ease-out;
}

.move li {
  padding-bottom: 25px;
} 
/* move menu animation */
@keyframes show {
  from { left: -500px; }
  to { left: -420px; }
} 

@media (max-width: 1024px) {
  .slide.active {
    min-height: 585px;
    background-size: contain;
  }

  .slider-title {
    padding-top: 50px;
  }

  .slider-title h1 {
    font-size: 50px;
    line-height: 90px;
  }

  .slider-title p {
    padding-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
  }

  .paginator {
    justify-content: center;
    gap: 45px;
  }

  .discover-louvre, .discover-louvre a {
    width: 300px;
    height: 60px;
  }

  .discover-louvre a {
    font-size: 20px;
    line-height: 23px;
  }

  .slide.active {
    background-position: calc(100% - -25%);
  }
}

@media (max-width: 768px) {
  .slide.active {
    min-height: 760px;
  }

  .first-slide, .second-slide, .third-slide,
  .fourth-slide, .fifth-slide {
    background: none;
  }

  .slider-image {
    display: block;
  }

  .slider-image img {
    width: 728px;
    height: 546px;
  }

  .paginator {
    width: 100%;
    position: static;
    height: 100px;
    justify-content: center;
  }

  .slider-title {
    padding: 0;
    text-align: center;
  }

  .slider-title h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .slider-title p {
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 23px;
  }

  .discover-louvre {
    display: none;
  }

  .bullet {
    width: 12px;
    height: 12px;
  }

  .current-fraction span, .final-fraction span,
  .from-fraction span {
    font-size: 20px;
    line-height: 40px;
  }

  .move{
    left: -309px;
    top: 55px;
    margin: 35px 0;
  }

  .vector {
    left: -299px;
    top: 62px;
    margin: 35px 0;
  }

  @keyframes show {
    from { left: -330px; }
    to { left: -309px; }
  }

  .mobile-content {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 347px 55px 0px 55px;
    background: black;
  }

  .mobile-content::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 2px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .to-top-menu {
    padding: 30px 0;
    align-items: center;
    position: absolute;
    top: 875px;
    background: #030303;
    left: 0px;
    width: 100%;
    justify-content: center;
    transition: all 0.7s ease-out;
  }
}

@media (max-width: 420px) {
  .slide.active {
    min-height: 465px;
  }

  .welcome__container__black {
    padding-top: 5px;
  }

  .slider-title h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .slider-title p {
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 19px;
  }

  .slider-image img {
    width: 380px;
    height: 285px;
  }

  .paginator {
    height: 80px;
    gap: 25px;
  }

  .bullets {
    column-gap: 10px;
  }

  .fraction{
    column-gap: 5px;
  }

  .bullet {
    width: 7px;
    height: 7px;
  }

  .current-fraction span, .final-fraction span,
  .from-fraction span {
    font-size: 16px;
  }

  .prev-arrow, .next-arrow {
    width: 20px;
  }

  .move {
    left: -113px;
    top: 20px;
  }

  .menu-link {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }

  .vector {
    left: -100px;
    top: 26px;
  }

  .mobile-content {
    margin: 292px 55px 20px 55px;
  }

  @keyframes show {
    from { left: -140px; }
    to { left: -113px; }
  }

  .to-top-menu {
    padding: 18px 0;
    top: 497px;
    width: 420px;
  }

  .mobile-content::after {
    bottom: -20px;
  }

  .menu-footer {
    display: flex;
  }

}

