@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,500italic,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Forum:regular&display=swap);

*, *::after, *::before{
    padding: 0;
    margin: 0;
    border: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    height: 100%;
    min-width: 420px;
}

body {
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    overflow: hidden;
    min-height: 100%;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 240px;
}

[class*="__black"]{
    background: #030303;
}

[class*="__white"]{
    background: #FFFFFF;
}

.section  {
    padding: 75px 0; 
}

.section-title {
    position: relative;
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.dark {
    color: #000000;
}

.section-title:hover, .slider-title h1:hover {
    cursor: default;
    color: #9D8665;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #710707;
}

#withoutLine::after {
    display: none;
}

.main {
    flex: 1 1 auto;
}

@media (max-width: 1024px) {
    [class*="__container"] {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0px 20px;
    }

    .section  {
        padding: 60px 0; 
    }

    .section-title {
        font-size: 50px;
        line-height: 75px;
    }
}

@media (max-width: 768px) {
    [class*="__container"] {
        max-width: 768px;
    }

    .section  {
        padding: 40px 0; 
    }

    .section-title {
        font-size: 40px;
        line-height: 60px;
    }

    .section-title::after {
        bottom: -20px;
    }
    
}

@media (max-width: 420px) {
    [class*="__container"] {
        max-width: 420px;
    }

    .section-title {
        font-size: 28px;
        line-height: 40px;
    }
}

/* header style */
.header__container {
    display: flex;
    min-height: 155px;
    align-items: center;
    gap: 466px;
    background: #030303;
}

.louvre-logo {
    font-family: Forum;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 0 0 0 25px;
}

.logo {
    display: flex;
}

.logo img {
    width: 49px;
    height: 26px;
}

.menu-list {
    display: flex;
    gap: 55px;
}

.menu-link {
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.menu-link:hover {
    color: #9D8665;
}

.menu-link:active{
    color: #7E6C51;
}

.burger-menu-wrapper {
    display: none;
    width: 32px;
    height: 18px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.burger-menu-exit {
    width: 25px;
    height: 25px;
    background-image: url(assets/png/exit.png);
}

.burger-spn {
    width: 32px;
    height: 2px;
    background: #FFFFFF;
}

@media (max-width: 1024px) {
    .menu-list {
        display: none;
    }

    .burger-menu-wrapper {
        display: block;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        min-height: 130px;
        gap: 0;
    } 

    .header-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 0;
    }
}

@media (max-width: 768px) {
    .header__container {
        min-height: 110px;
    }
}

@media (max-width: 420px) {
    .header__container {
        min-height: 90px;
    } 
    
    .louvre-logo {
        font-size: 16px;
        line-height: 18px;
    }

    .logo img {
        width: 29px;
        height: 16px;
    }
}
/* main louvre style  section virtual tour */
.virtual-tour-places {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px 60px;
    margin-top: 75px;
}

.title-place {
    font-family: Forum;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.line-place {
    position: relative;
} 

.line-place:after {
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 300px;
    content: "";
    background: #710707;
    transition: width 0.3s ease-out;
} 

.place-info:hover .line-place:after {
    width: 100%;
} 

.panorama-info {
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    padding-top: 10px;
}

.panorama-view {
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 10px;
}

@media (max-width: 1024px) {
    .virtual-tour-places {
       grid-template-columns: repeat(2, 1fr); 
       margin: 85px 108px 0 108px;
       gap: 60px 108px;
    }

    .place-info img {
        width: 330px;
        height: 215px;
    }

    .title-place {
        font-weight: 400;
        font-size: 28px;
        line-height: 31px;
        letter-spacing: 3px;
    }

    .panorama-info {
        font-weight: 100;
        font-size: 20px;
        line-height: 23px;
    }

    .panorama-view {
        font-weight: 100;
        font-size: 16px;
        line-height: 19px;
    }

    .line-place:after {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .virtual-tour-places {
        margin: 65px 56px 0 56px;
        gap: 40px 56px;
    }

    .place-info img {
        width: 280px;
        height: 180px
    }

    .title-place {
        font-size: 22px;
        line-height: 24px;
    }

    .panorama-info {
        font-size: 18px;
        line-height: 21px;
    }
}

@media (max-width: 420px) {
    .virtual-tour-places {
       gap: 40px 0;
       margin: 65px 50px 0 50px;
       grid-template-columns: repeat(1, 1fr); 
    }

    .place-info img {
        width: 280px;
        height: 180px
    }

    .title-place {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 5px;
    }

    .panorama-info, .panorama-view {
        font-size: 16px;
        line-height: 19px;
    }
}

/* section picture explore */
.explore {
    display: grid;
    gap: 0 60px;
    grid-template-columns: 1fr 1fr;
}

.picture-block {
    position: relative;
    width: 720px;
    height: 700px;
}

.las-meninas {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.picture-explore-text {
    padding-top: 100px;
}

.description-picture, .some-picture {
    flex: 0 1 50%;
}

.las-meninas img {
    display: block;
    vertical-align: middle;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 39px;
    height: 700px;
    background-image: url(./assets/png/explore-slider.png);
    opacity: 0.7;
}

.description-picture p {
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.yellow span {
    color: #999900;
}

@media (max-width: 1024px) {
    .explore {
        display: flex;
        flex-direction: column;
    }

    .picture-explore-text {
        padding: 85px 0 60px 0;
    }

    .picture-explore-text p{
        margin: 0;
        font-size: 20px;
        line-height: 35px;
    }

    .picture-block {
        margin: 0 auto;
    }

    .last-phrase {
        display: none;
    }
}

@media (max-width: 768px) {
    .picture-block {
        margin: 60px 0 0 0;
    }

    .picture-explore-text {
        display: none;
    }

    .las-meninas img {
        width: 728px; 
        height: 705px;
    }

    .img-comp-slider, .picture-block{
        height: 705px;
    }
}

@media (max-width: 420px) {
    .picture-block {
        height: 368px;
    }

    .las-meninas img {
        width: 380px;
        height: 368px;
    }

    .img-comp-slider{
        background-image: url(./assets/png/explore-slider420.png);
        width: 20px;
        height: 368px;
    }
}

/* section art gallery */
.gallery {
    height: 2105px;
}

.picture-container {
    overflow: hidden;
    height: 2030px;
}

.picture-inner-container {
    column-count: 3;
    column-gap: 36px;
    height: 3066px;
    padding-top: 75px;
}

.gallery-img.show-animation {
    opacity: 1;
    transform: none;
    transition-delay: 0.4s; 
    transition-duration: .6s;
} 

.gallery-img {
    display: inline-block;
    max-width: 456px;
    transform: translateY(30px);
    opacity: 0;
    transition-property: transform, opacity;
    padding-bottom: 24px;
}

.gallery-img:first-child, .gallery-img:nth-child(11) {
    padding-top: 50px;
}

.gallery-img.show-animation:nth-child(5n), .gallery-img.show-animation:nth-child(5n+4) {
    opacity: 0.4;
}

@media (max-width: 1024px) {
    .gallery {
        height: 1460px;
        padding-top: 60px;
    }

    .picture-container {
        height: 1400px;
    }

    .picture-inner-container {
        height: 2116px;
        padding-top: 60px;
    }

    .gallery-img {
        max-width: 304px;
    }
}

@media (max-width: 768px) {
    .gallery {
        height: 1220px;
        padding-top: 40px;
    }

    .picture-container {
        height: 1180px;
    }

    .picture-inner-container {
        column-count: 2;
        column-gap: 24px;
        height: 3200px;
        padding-top: 40px;
    }

    .gallery-img {
        max-width: 352px;
    }

    .gallery-img.show-animation:nth-child(n+3),
    .gallery-img.show-animation:nth-child(n+10) {
        opacity: 0.4;
    }

    .gallery-img.show-animation:nth-child(8),
    .gallery-img.show-animation:nth-child(9) {
        opacity: 1;
    }
}

@media (max-width: 420px) {
    .gallery{
        height: 756px;
    }

    .picture-container {
        height: 716px;
    }

    .picture-inner-container {
        height: 1757px;
    }

    .gallery-img {
        max-width: 178px;
    }

    .grid-item:nth-child(11) {
        padding: 0;
    }
}

/* section by tickets */
.amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tickets-type {
    display: flex;
    align-items: baseline;
}

.order-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 75px;
    gap: 0 60px;
}

.type-order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-type-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-type-radio input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container .checkmark:after {
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
}

.label-radio {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 25px;
}

input[type="radio"] {
    width: 17px;
    height: 17px;
    cursor: pointer;
    accent-color: #000000;
}

.amount-title h2, .ticket-type h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.ticket-type h2 {
    padding-bottom: 50px;
}

.number {
    width: 12px;
    height: 26px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    all: unset;
    width: 3em;
    text-align: center;
}
 
input[type=number]{
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    color: #000000;
} 

.block {
    display: flex;
    width: 150px;
    height: 50px;
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.ticket__button {
    background: white;
    width: 18px;
    height: 38px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.input-basic-block p, .input-senior-block p {
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: start;
}

.total {
    padding: 60px 0;
}

.total p {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000000;
}

.buy-button {
    width: 175px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    cursor: pointer;
}

.buy-button:hover {
    background: #9D8665;
    color: #000000;
}

.order-form-picture {
    width: 720px;
    height: 550px;
    background-image: url("./assets/png/Rectangle.png");
}

@media (max-width: 1024px) {
    .ticket-type {
        display: none;
    }

    .order-form-picture {
        width: 700px;
        height: 440px;
        background-image: url("./assets/png/tickets1024.png");
    }

    .order-form {
        margin-top: 80px;
        gap: 0 80px;
    }

    .input-basic-block p, .input-senior-block p {
        padding-top: 29px;
        padding-bottom: 10px;
    }

    .total {
        padding-top: 25px;
        padding-bottom: 69px;
    }

    .amount {
        align-items: flex-start;
    }

    .block {
        width: 175px;
    }
}

@media (max-width: 768px) {    
    .order-form-picture {
        width: 444px;
        height: 340px;
        background-image: url("./assets/png/tickets768.png");
    }

    .order-form {
        margin-top: 60px;
        gap: 0 60px;
    }

    .input-senior-block p {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .total {
        padding: 40px 0;
    }
}

@media (max-width: 420px) {
    .order-form-picture {
        width: 380px;
        height: 160px;
        background-image: url("./assets/png/tickets420.png");
    }

    .line {
        position: absolute;
        width: 380px;
    }

    .order-form {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 0 60px;
    }

    .type-order {
        display: flex;
        margin: 0 auto;
    }

    .input-basic-block p, .input-senior-block p {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
    }

    .amount {
        padding-top: 40px;
        align-items: center;
    }

    .amount-title h2, .total p {
        font-size: 16px;
        line-height: 19px;
    }

    .block {
        width: 175px;
    }

    .buy-button {
        font-size: 16px;
        line-height: 0px;
    }
}

/* parallax */
.parallax__container {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./assets/img/parallax.jpg);
}

@media (max-width: 1024px) {
    .parallax__container {
        height: 390px;
        background-image: url(./assets/png/parallax1024px.png);
        background-attachment: local; 
    }
}   

@media (max-width: 768px) {
    .parallax__container {
        height: 300px;
        background-image: url(./assets/png/parallax768.png);
    }
}   

@media (max-width: 420px) {
    .parallax__container {
        background-image: url(./assets/png/parallax420.png);
    }
}   

/* section contacts info */
.contacts-places-info {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.places-info {
    width: 960px;
    height: 620px;
}

.contacts-info h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.description-contacts-info {
    padding-top: 50px;
}

.contacts-info p {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    padding-bottom: 25px;
}

@media (max-width: 1024px) {
    .contacts-places-info {
        padding-top: 80px;
    }
    
    .contacts-info h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .contacts-info p {
        font-size: 20px;
        line-height: 23px;
        padding-bottom: 15px;
    }

    .description-contacts-info {
        padding-top: 35px;
    }

    .places-info {
        width: 694px;
        height: 454px;
    }
}   

@media (max-width: 768px) {
    .contacts-places-info {
        flex-direction: column;
        padding-top: 60px;
    }
    
    .contacts-info h3 {
        font-size: 20px;
        line-height: 23px;
    }

    .contacts-info p {
        font-size: 18px;
        line-height: 21px;
    }

    .description-contacts-info {
        padding: 40px 0;
    }

    .places-info {
        width: 728px;
        height: 476px;
    }
}   

@media (max-width: 420px) {    
    .contacts-info h3 {
        font-size: 19px;
        line-height: 19px;
    }

    .contacts-info p {
        font-size: 16px;
        line-height: 19px;
    }

    .places-info {
        width: 380px;
        height: 248px;
    }

    .description-contacts-info {
        padding: 40px 0 25px 0px;
    }
}  
/* footer */
.footer__container__black {
    min-height: 395px;
}

.footer {
    background: #030303;
    border-radius: 0px;
}

.container-wrap {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 85px 0 55px 0;
}

.footer-logo {
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-right: 150px;
    padding-top: 8px;
}

.nav-description-footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 150px;
    text-align: left;
}

.nav-description-footer li a {
    text-decoration: none;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.nav-description-footer li a:hover {
    color: #9D8665;
}

.nav-description-footer li a:active{
    color: #7E6C51;
}

.author-data {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-line {
    margin-bottom: 50px;
    height: 3px;
    width: 100%;
    background: #666666;
}

.author-name, .year {
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.nav-contacts-links {
    display: flex;
}

.social-networks-contacts {
    display: flex;
    margin-left: 397px;
    text-decoration: none;
    height: 130px;
    align-items: flex-end;
}

.social-networks-contacts li {
    padding-right: 25px;
}

@media (max-width: 1024px) {    
    .footer {
        height: 360px;
    }

    .container-wrap {
        padding: 65px 0 50px 0;
    }

    .footer-logo {
        display: flex;
        margin-right: 45px;
    }
    
    .nav-description-footer {
        gap: 25px 100px;
    }
    
    .social-networks-contacts {
        margin-left: 90px;
    }
}  

@media (max-width: 768px) {  
    .footer {
        height: 400px;
    }

    .container-wrap {
        gap: 0 100px;
        padding: 40px 0 40px 0px;
    }

    .nav-description-footer {
        gap: 25px 150px;
        text-align: left;
        margin-bottom: 50px;
    }
    
    .footer-line {
        height: 1px;
        width: 100%;
        margin-bottom: 40px;
    }

    .social-networks-contacts {
        height: auto;
        margin: 0 auto;
    }
    
    .louvre {
        line-height: 50px;
    }

    .nav-description-footer li a {
        font-weight: 100;
        font-size: 18px;
        line-height: 21px;
    }

    .nav-contacts-links {
        flex-direction: column;
    }
}  

@media (max-width: 420px) {  
    .container-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
    }

    .nav-description-footer {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 85px;
        margin: 40px 0;
    }
    
    .footer-line {
        height: 2px;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .louvre {
        font-size: 16px;
        line-height: 18px;
        padding: 0 0 0 20px
    }

    .nav-description-footer li a {
        font-size: 16px;
        line-height: 19px
    }

    .social-networks-contacts li {
        padding-right: 5px;
    }

    .social-networks-list{
        display: flex;
    }

    .author-name, .year {
        font-weight: 100;
        font-size: 14px;
        line-height: 19px;
    }
}  
/* popup styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup.open {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.popup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.popup-body {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    max-width: 1440px;
    height: 100%;
    padding: 90px 235px;
}

.booking-tickets {
    font-family: Forum;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #9D8665;
    padding-bottom: 15px;
}

.louvre-tour {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #710707;
    padding-bottom: 10px;
}

.red-line {
    width: 400px;
    height: 3px;
    background: #740C11;
    opacity: 0.9;
}

.data-time-info {
    display: flex;
    padding-top: 51px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.contact-order-date li {
    list-style-type: none;
}

.date, .time {
    width: 190px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
}

.data-person-info input {
    width: 400px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
}

.data-person-info li {
    padding-bottom: 20px;
}

.choose-ticket-type {
    height: 45px;
    width: 400px;
    border-radius: 0px;
    border: 1px solid #030303
}

.entry-ticket {
    height: 137px;
    width: 400px;
    border: 1px solid #030303;
    border-radius: 0px;
} 

.entry-ticket-title{
    font-family: Forum;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9D8665;
    padding-top: 10px;
    padding-left: 15px;
}

.entry-ticket-red-line {
    height: 2px;
    width: 370px;
    border-radius: 0px;
    background: #740C11;
    opacity: 0.9;
    margin-top: 5px;
    margin-bottom: 18px;
    margin-left: 15px;
}

.change-tickets {
    padding: 0 15px;
}

.basic-ticket, .senior-ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
}

.basic-ticket p, .senior-ticket p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.delete-current-ticket, .add-current-ticket {
    height: 25px;
    width: 35px;
    background: #030303;
}

.delete-ticket, .add-ticket {
    background: #030303;
    color: #FFFFFF; 
} 

.numb-ticket {
    display: flex;
    justify-content: flex-start;
    height: 25px;
    width: 35px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box
} 

/* overview popup */
.tickets-overview {
    width: 530px;
    height: 663px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
    margin-left: 40px;
}

.overview-tour {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.overview-tour-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #272727;
}

.overview-tour-title-to-louvre {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740C11;
    opacity: 0.9;
    padding-bottom: 10px;
}

.change-ticket-numb {
    display: flex;
    width: 105px;
    height: 25px;
    text-align: center;
    display: inline-block; 
	position: relative; 
}

.change-ticket-numb input[type="number"] {
	height: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
	width: 35px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
}

.change-ticket-numb input[type="number"]::-webkit-outer-spin-button,
.change-ticket-numb input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.add-ticket-popup, .delete-ticket-popup {
	position: absolute;
	width: 35px;
    height: 25px;
	padding: 0;
	text-align: center;
	border: none;
	font-size: 23px;
    background: #030303;
    color: white;
    cursor: pointer;
}

.delete-ticket-popup {
	display: block;
	font-size: 20px;
    cursor: pointer;
}

.user-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

/* bookings ticket */
.basic-count, .senior-count {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.name-with-icon, .mail-with-icon, .phone-with-icon, 
.ticket-with-icon, .date-with-icon, .time-with-icon {
    position: relative;
}

.name-with-icon i, .mail-with-icon i, .phone-with-icon i, 
.ticket-with-icon i, .date-with-icon i, .time-with-icon i {
    position: absolute;
    left: 0;
    top: 13px;
    padding: 0px 15px;
    color: #000;
}

.name-with-icon input[type=text],.mail-with-icon input[type=text],
.phone-with-icon input[type=text], .choose-ticket-type, 
.date, .time{
    padding-left: 40px;
}

.placeholder::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

.choose-ticket-type, .phone, .user-name, .e-mail {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #030303;
}

input[type=date]::-webkit-inner-spin-button ,
input[type=time]::-webkit-inner-spin-button {
    display: none; 
} 

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.choose-ticket-type, .date, .time {
    background-image: url(./assets/png/arrow-select.png);
    background-repeat: no-repeat; 
    background-position: calc(100% - 14px) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 
/* tickets-overview */
.overview-tour-date, .overview-tour-time, .overview-tour-ticket {
    display: flex;
    padding-bottom: 5px;
}

.date-logo i, .time-logo i, .ticket-logo img {
    width: 16px;
    height: 16px;
    color: #000;
}

.date-logo, .time-logo {
    padding-bottom: 5px;
}

.selected p {
    padding-left: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.count-tickets {
    padding: 0 30px 10px 30px;
}

.current-count {
    display: flex;
}

.current-count input {
    width: 32px;
    height: 20px ;
    background: #030303;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #A4A4A3;
    text-align: center;
    margin: 3px auto;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.current-count p, .euro p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #030303;
}

.current-count p {
    padding-left: 10px;
}

.red-line-popup {
    margin: 0 auto ;
    height: 2px;
    width: 470px;
    background: #740C11;
}

.total-count {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.total-count p {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #030303;
}

/* bookings card */
.front-card {
    position: relative;
    height: 211px;
    width: 360px;
    border-radius: 0px;
    background: #BCBCBC;
    margin-left: 30px;
    margin-right: 140px;
    z-index: 100;
}

.enter-card-number {
    padding: 15px 0 10px 20px;
}

.expiration-date-info {
    padding: 0 125px 10px 20px;
}

.cardholder-name {
    padding: 0 20px 15px 20px;
}

.enter-card-number p, .expiration-date p, .cardholder-name p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    padding-bottom: 5px;
}

.enter-card-number input, .experation-date-inputs input, .cardholder-name input {
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    border-radius: 0;
}

.enter-card-number input {
    height: 35px;
    width: 215px;
}

.experation-date-inputs {
    display: flex;
    justify-content: space-between;
}

.experation-date-inputs input {
    width: 100px;
    height: 35px;
}

.cardholder-name input {
    height: 35px;
    width: 320px;
}

.visa-and-mastercard {
    position: relative;
}

.visa {
    position: absolute;
    right: 20px;
    top: 35px;
}

.yellow-v {
    position: absolute;
    top: 2px;
    left: -3px;
}
.visa img {
    margin: -2px;
}

.mastercard {
    position: absolute;
    top: 65px;
    right: 20px;
}

.back-card {
    position: relative;
    width: 360px;
    height: 211px;
    background: #939393;
    z-index: 1;
    bottom: 180px;
    left: 140px;
}

.black {
    margin: 25px 0 15px 0;
    width: 360px;
    height: 45px;
    background: #161615;
}

.cvv-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cvv {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    text-transform: uppercase;
    align-self: flex-end;
    padding: 0 30px 5px 0;
}

.enter-cvv {
    width: 75px;
    height: 35px;
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    align-self: flex-end;
    margin-right: 17px;
}

.find-cvv {
    padding: 6px 30px 0 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #161615;
    margin-left: auto;
}

.confirm-order {
    bottom: 150px;
    right: 30px;
    position: relative;
    width: 220px;
    height: 45px;
    margin-left: auto;
    background: #710707;
    opacity: 0.9;
}

.confirm-order button {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background: #710707;
    margin: 10px 85px;
    cursor: pointer;
}

.close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 25px;
    height: 25px;
    background-image: url(./assets/png/Close.png);
    cursor: pointer;
}

@media (max-width: 1024px) {  
    .popup-body {
        padding: 75px 27px 30px 27px;
    }
    
    .close-popup {
        right: 27px;
    }
}  

@media (max-width: 768px) {  
    .popup.open {
        overflow: scroll;
    }

    .popup-body {
        flex-direction: column;
        padding: 40px 30px;
    }

    .tickets-overview {
        margin: 40px 0 0 0;
        height: 680px;
    }

    .data-time-info {
        padding: 30px 0 20px 0;
    }

    .date, .time {
        width: 250px;
        height: 45px;
    }

    .count-tickets {
        padding: 0 15px 15px 15px;
    }

    .overview-tour {
        padding: 25px 15px;
    }

    .red-line-popup, .entry-ticket-red-line {
        width: 500px;
    }

    .total-count {
        padding: 10px 15px;
    }

    .front-card {
        margin-left: 15px;
    }

    .back-card {
        left: 155px;
    }

    .confirm-order {
        right: 15px;
    }

    .data-person-info input, .data-person-info select,
    .red-line, .entry-ticket {
        width: 530px;
    }

    .booking-tickets{
        padding-bottom: 10px;
    }
}

@media (max-width: 420px) {  
    /* .popup {
        width: auto;
    } */
    .popup-body {
        max-width: 420px;
        height: auto;
    }

    .booking-tickets {
        font-size: 32px;
        line-height: 35px;
    }

    .tickets-overview {
        width: 360px;
    }

    .overview-tour {
        padding: 15px 20px;
    }

    .photo-louvre img {
        width: 120px;
        height: 96px;
    }

    .selected p {
        padding-left: 10px;
    }

    .data-time-info {
        flex-direction: column;
        padding: 40px 0 20px 0;
        gap: 20px 0;
    }

    .entry-ticket-red-line {
        width: 330px;
    }

    .data-person-info input, .data-person-info select,
    .red-line, .entry-ticket,
    .date, .time {
        width: 360px;
    }

    .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .front-card, .back-card {
        width: 330px;
        height: 209px;
    }

    .enter-card-number p, .expiration-date p, .cardholder-name p {
        font-size: 11px;
        line-height: 13px;
    }

    .experation-date-inputs{
        gap: 15px;
    }

    .cardholder-name input {
        width: 290px;
        height: 35px;
    }

} 