*{
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

.header {
    width: 1920px;
    height: 150px;
    background: #030303;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    height: 150px;
    margin: 0 auto;
}

.louvre {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 0 0 25px;
}

.navigation {
    width: 775px;
    height: 26px;
}

.nav-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-description li a {
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.nav-description li a:hover {
    color: #9D8665;
}

.nav-description li a:active{
    color: #7E6C51;
}

.main {
    width: 1920px;
    margin: 0 auto;
}

.wrapper {
    width: 1920px;
    /* height: 842px; */
    background: #030303;
}

.welcome {
    max-width: 1440px;
    height: 810px;
    display: flex;
    position: relative;
    /* background-image: url("assets/img/monaliza.jpg"); 
    background-position: calc(100% - 0%) calc(100% - 95%); */
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

/* slider style */

.slider{
    max-width: 1440px;
    height: 810px;
    /* background-position: calc(100% - 0%) calc(100% - 95%);
    background-repeat: no-repeat;
    position: absolute; */
}

/* .slide img {

}  */

.welcome-description {
    /* position: relative; */
    max-width: 1440px;
    height: 810px;
    flex: 0 1 auto;
    z-index: 2;
}

.welcome-description h1 {
    padding-top: 150px;
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome-description h1:hover {
    color: #9D8665;
    cursor: default;
}

.welcome-description p {
    padding-top: 25px;
    padding-bottom: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.discover-btn {
    width: 360px;
    height: 75px;
    background: #710707;
    border-radius: 10px;
}

.discover-btn:hover {
    background: #9D8665;
}

.discover-btn a {
    height: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    justify-content: center;
    text-decoration: none;
}

.slider {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #030303;
    overflow: hidden;
}

.virtual-tour {
    /* position: absolute; */
    padding: 75px 0; 
    width: 1920px;
    height: 1116px;
    background:#FFFFFF;
}

.visiting-section {
    width: 1440px;
    height: 1116px;
}

.visiting-section h1 {
    padding-bottom: 25px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.visiting-section h1:hover {
    color: #9D8665;
    cursor: default;
}

.line {
    width: 1440px;
    height: 3px;
    background: #710707;
    border-radius: 0px;
}

.virtual-tour-places {
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
    margin: 75px 0;
}


.virtual-tour-places a {
    text-decoration: none;

}

.title-place {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.line-place {
    position: relative;
} 

.line-place:after {
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 300px;
    content: "";
    background: #710707;
    transition: width 0.3s ease-out;
} 

.place-info:hover .line-place:after {
    width: 100%;
} 

.panorama-info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    padding-top: 10px;
}

.panorama-view {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 10px;
}

/* .section img {
    width: 440px;
    height: 285px;
} */

.picture-explore, .video-jorney-info {
    padding: 60px 0;   
}

.explore-section {
    display: flex;
    gap: 0 60px;
}

.description-picture, .some-picture {
    flex: 0 1 50%;
}

.some-picture img {
    width: 720px;
    height: 700px;
}

.description-picture h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.description-picture h1:hover {
   cursor: default;
   color: #9D8665;
}

.line-picture-explore {
    width: 660px;
    height: 3px;
    background: #710707;
    margin-bottom: 75px;
}

.description-picture p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.title-video-journey {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.video-journey-h1, .video-journey-p {
    flex: 1 0 50%;
}

.title-video-journey h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.title-video-journey h1:hover {
    cursor: default;
    color: #9D8665;
    cursor: pointer;
}

.title-video-journey p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.part {
    width: 452px;
    height: 254px;
    background: black;
}

.art-gallery {
    padding-top: 75px;
    width: 1920px;
    height: 2200px;
    background: #030303;
}

.gallery h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.gallery h1:hover {
    cursor: default;
    color: #9D8665;
}

.picture-container {
    margin-top: 75px;
    width: 1440px;
    overflow-y: hidden;
    height: 2030px;
}

.picture-inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 3000px;
    gap: 24px 36px;
}

.grid-item img {
    max-width: 456px;
}

.grid-item:first-child {
    margin-top: 50px;
}

.grid-item:nth-child(11) {
    padding-top: 50px;
}

.tickets {
    padding: 75px 0;
}

.buy-tickets {
    width: 1440px;
    /* height: 743px; */
}

.buy-tickets-h1 {
    padding-bottom: 25px;
}

.buy-tickets-h1 h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.buy-tickets-h1 h1:hover {
    cursor: default;
    color: #9D8665;
}

.amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.order-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 75px 0;
    gap: 0 60px;
}

.type-order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 0 240px; */
}

.ticket-type h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 50px;
}

.container-type-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0px;
    top: 5px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}

.container-type-radior:hover input ~ .checkmark {
    background-color: red;
}

.container-type-radio input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container .checkmark:after {
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
}

.container-type-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 25px;
}

.amount-title h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    text-align: end;
}


/* input[type=number] {
    width: 12px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    all: unset;
    /* width: 3em; */
    /* text-align: center; */
/* }  */

.number {
    width: 12px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    all: unset;
    width: 3em;
    text-align: center;
}
 
input[type=number]{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    color: #000000;
} 

.block {
    display: flex;
    width: 150px;
    height: 50px;
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.change-current {
    background: white;
    width: 18px;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}


.button {
    width: 18px;
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.input-basic-block p, .input-senior-block p {
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: start;
}

.total {
    padding: 60px 0;
}

.total p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000000;
}

.buy-button {
    width: 175px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.buy-button:hover {
    background: #9D8665;
    color: #000000;
}

.parallax {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./assets/img/parallax.jpg);
}

.contacts-places-info {
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
}

.places-info{
    width: 960px;
    height: 620px;
    /* background: #666666; */
}

.our-contact {
    height: 813px;
    margin: 75px 0;
}

.contacts-h1 h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 25px;
}

.contacts-h1 h1:hover {
    cursor: default;
    color: #9D8665;
}

.contacts-info h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.contacts-info p {
    margin: 25px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.footer {
    margin: 0 auto;
    width: 1920px;
    height: 392px;
    background: #030303;
    border-radius: 0px;
}

.container-wrap {
    padding-bottom: 50px;
    padding-top: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    height: 150px;
    margin: 0 auto;
}

.footer-logo {
    align-self: flex-start;
    align-items: center;
    margin-right: 150px;
    padding-top: 8px;
}

.nav-description-footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 150px;
}

.nav-description-footer li a {
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.nav-description-footer li a:hover {
    color: #9D8665;
}

.nav-description-footer li a:active{
    color: #7E6C51;
}

.author-data {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-line {
    margin-bottom: 50px;
    height: 3px;
    width: 1920px;
    background: #666666;
}

.author-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.social-networks-contacts {
    display: flex;
    margin-left: 397px;
    text-decoration: none;
}

.social-networks-contacts li {
    padding-right: 15px;
}

/* popup styles */

.popup {
    width: 1440px;
    height: 845px;
    background: #FFFFFF;
    margin: 0 auto;
}

.popup-wrapper {
    display: flex;
    width: 970px;
    height: 663px;
    padding: 91px 235px;
}

.booking-tickets {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #9D8665;
    padding-bottom: 15px;
}

.louvre-tour {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #710707;
    padding-bottom: 10px;
}

.red-line {
    width: 400px;
    height: 3px;
    background: #740C11;
    opacity: 0.9;
}

.data-time-info {
    display: flex;
    padding-top: 51px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.contact-order-date li {
    list-style-type: none;
}

.date, .time {
    width: 190px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
}

.data-person-info input {
    width: 400px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
}

.data-person-info li {
    padding-bottom: 20px;
}

.choose-ticket-type {
    height: 45px;
    width: 400px;
    border-radius: 0px;
    border: 1px solid #030303
}

.entry-ticket {
    height: 135px;
    width: 400px;
    border: 1px solid #030303;
    border-radius: 0px;
} 

.entry-ticket-title{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9D8665;
    padding-top: 10px;
    padding-left: 15px;
}

.entry-ticket-red-line {
    height: 2px;
    width: 370px;
    border-radius: 0px;
    background: #740C11;
    opacity: 0.9;
    margin-top: 5px;
    margin-bottom: 18px;
    margin-left: 15px;
}

.change-tickets {
    padding: 0 15px;
}

.basic-ticket, .senior-ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
}

.basic-ticket p, .senior-ticket p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.delete-current-ticket, .add-current-ticket {
    height: 25px;
    width: 35px;
    background: #030303;
}

.delete-ticket, .add-ticket {
    background: #030303;
    color: #FFFFFF; 
} 

.numb-ticket {
    display: flex;
    justify-content: flex-start;
    height: 25px;
    width: 35px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box
} 


/* overview popup */

.tickets-overview {
    width: 530px;
    height: 663px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
    margin-left: 40px;
}

.overview-tour {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
}

.overview-tour-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #272727;
}

.overview-tour-title-to-louvre {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740C11;
    opacity: 0.9;
    padding-bottom: 10px;
}

.change-ticket-numb {
    display: flex;
    width: 105px;
    height: 25px;
    text-align: center;
    display: inline-block; 
	position: relative; 
}

.change-ticket-numb input[type="number"] {
	height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
	width: 35px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
}

.change-ticket-numb input[type="number"]::-webkit-outer-spin-button,
.change-ticket-numb input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.add-ticket-popup, .delete-ticket-popup {
	position: absolute;
	width: 35px;
    height: 25px;
	padding: 0;
	text-align: center;
	border: none;
	font-size: 23px;
    background: #030303;
    color: white;
    cursor: pointer;
}

.delete-ticket-popup {
	display: block;
	font-size: 20px;
    cursor: pointer;
}

.user-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

/* bookings ticket */

.basic-count, .senior-count {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.name-with-icon, .mail-with-icon, .phone-with-icon, 
.ticket-with-icon, .date-with-icon, .time-with-icon {
    position: relative;
}

.name-with-icon i, .mail-with-icon i, .phone-with-icon i, 
.ticket-with-icon i, .date-with-icon i, .time-with-icon i {
    position: absolute;
    left: 0;
    top: 13px;
    padding: 1px 15px;
    color: #000;
}

.name-with-icon input[type=text],.mail-with-icon input[type=text],
.phone-with-icon input[type=text], .choose-ticket-type, 
input[type=date], input[type=time] {
    padding-left: 40px;
}

.placeholder::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

.choose-ticket-type, .phone, .user-name, .e-mail, input[type=date], input[type=time] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #030303;
}

input[type=date]::-webkit-inner-spin-button ,
input[type=time]::-webkit-inner-spin-button {
    display: none; 
} 

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.choose-ticket-type, input[type=date], input[type=time] {
    background-image: url(./assets/png/arrow-select.png);
    background-repeat: no-repeat; 
    background-position: calc(100% - 14px) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 

/* tickets-overview */

.overview-tour-date, .overview-tour-time, .overview-tour-ticket {
    display: flex;
    padding-bottom: 5px;
}

.date-logo i, .time-logo i, .ticket-logo img {
    padding-right: 15px;
}

.count-tickets {
    padding: 0 30px 10px 30px;
}

.current-count {
    display: flex;
}

.current-count input {
    width: 32px;
    height: 20px ;
    background: #030303;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #A4A4A3;
    text-align: center;
    margin: 3px auto;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.current-count p, .euro p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #030303;
}

.current-count p {
    padding-left: 10px;
}

.red-line-popup {
    margin: 0 auto ;
    height: 2px;
    width: 470px;
    background: #740C11;
}

.total-count {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.total-count p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #030303;
}

/* bookings card */

.front-card {
    position: relative;
    height: 211px;
    width: 360px;
    border-radius: 0px;
    background: #BCBCBC;
    margin-left: 30px;
    margin-right: 140px;
    z-index: 100;
}

.enter-card-number {
    padding: 15px 0 10px 20px;
}

.expiration-date-info {
    padding: 0 125px 10px 20px;
}

.cardholder-name {
    padding: 0 20px 15px 20px;
}

.enter-card-number p, .expiration-date p, .cardholder-name p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    padding-bottom: 5px;
}

.enter-card-number input, .experation-date-inputs input, .cardholder-name input {
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    border-radius: 0;
}

.enter-card-number input {
    height: 35px;
    width: 215px;
}

.experation-date-inputs {
    display: flex;
    justify-content: space-between;
}

.experation-date-inputs input {
    width: 100px;
    height: 35px;
}

.cardholder-name input {
    height: 35px;
    width: 320px;
}

.visa-and-mastercard {
    position: relative;
}

.visa {
    position: absolute;
    right: 20px;
    top: 35px;
}

.yellow-v {
    position: absolute;
    top: 2px;
    left: -3px;
}
.visa img {
    margin: -2px;
}

.mastercard {
    position: absolute;
    top: 65px;
    right: 20px;
}

.back-card {
    position: relative;
    width: 360px;
    height: 211px;
    background: #939393;
    z-index: 1;
    bottom: 180px;
    left: 140px;
}

.black {
    margin: 25px 0 15px 0;
    width: 360px;
    height: 45px;
    background: #161615;
}

.cvv-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cvv{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    text-transform: uppercase;
    align-self: flex-end;
    padding: 0 30px 5px 0;
}

.enter-cvv {
    width: 75px;
    height: 35px;
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    align-self: flex-end;
    margin-right: 17px;
}

.find-cvv {
    padding: 6px 30px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #161615;
    margin-left: auto;
}

.confirm-order {
    bottom: 150px;
    right: 30px;
    position: relative;
    width: 220px;
    height: 45px;
    margin-left: auto;
    background: #710707;
    opacity: 0.9;
}

.confirm-order button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background: #710707;
    margin: 10px 85px;
    cursor: pointer;
}
